build/
build*/
*.exe
*.exe.manifest
Makefile
CMakeCache.txt
CMakeFiles/
Testing/
cmake_install.cmake
qtcsettings.cmake
.cmake/
*_autogen/
.qt/
.qtc_clangd/
.qtcreator/
CMakeCache.txt
CMakeCache.txt.prev